body{
font-family:Segoe UI;
background:#eef2f7;
text-align:center;
}

.login-box{
background:white;
padding:30px;
width:300px;
margin:120px auto;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

input{
width:90%;
padding:10px;
margin:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 20px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#0056b3;
}

.form-box{
background:white;
padding:20px;
margin:30px auto;
width:60%;
border-radius:10px;
}

table{
margin:auto;
border-collapse:collapse;
width:80%;
}

th,td{
padding:10px;
border:1px solid #ddd;
}

th{
background:#007bff;
color:white;
}